	        <div class="push"><!--//--></div>
        </div> <!-- wrapper -->
		<% if (typeof hideMenu == 'undefined') { %>
        <div class="footer-container">
            <footer class="wrapper">
        		<p style="margin-left: 20px;">Provakil Technologies</p>
            </footer>
        </div>
		<% } %>
    </body>
</html>
